
.jump_off_box {
  display: flex;
  flex-basis: 25%;
  height: fit-content;
}

.main_box {
  margin-left: 15px;
  height: 60vw;
  overflow: scroll;
}

.image {
  display: flex;
  flex-basis: 25%;
  height: fit-content;
}

.main_box_width {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 75%;
}

.row {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}