
.jump_off_box {
  padding-top: 50px;
  display: flex;
  flex-basis: 25%;
  height: fit-content;
}

.fixed-top {
  position: fixed;
  top: 0vh;
}

.under-top {
  padding-top: 50px;
}

.container {
  width: 90vw;
}

.main_box {
  margin-left: 15px;
  height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
}

.main_box::-webkit-scrollbar {
  display: none;
}

.image {
  padding-top: 50px;
  display: flex;
  flex-basis: 25%;
  height: fit-content;
}

.main_box_width {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 75%;
}

.main_box_only {
  margin-left: 15px;
  height: 80vh;
  padding-top: 50px;
}

.row {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.indent {
  text-indent: 50px;
}

.block_indent {
  margin-left: 1em;
}